In [1]:
import pandas as pd
import numpy as np

In [28]:
data = {
    'massa': np.arange(1, 101),
    'harga': np.arange(1, 101)
}
df = pd.DataFrame(data)
df.head()

   massa  harga
0      1      1
1      2      2
2      3      3
3      4      4
4      5      5

In [3]:
df.tail()

    massa  harga
94     95     95
95     96     96
96     97     97
97     98     98
98     99     99

In [5]:
#Splitting manual %trainning & %testing
dataTrain = df.iloc[:81]
dataTrain

    massa  harga
0       1      1
1       2      2
2       3      3
3       4      4
4       5      5
..    ...    ...
76     77     77
77     78     78
78     79     79
79     80     80
80     81     81

[81 rows x 2 columns]

In [6]:
dataTest = df.iloc[81:]
dataTest

    massa  harga
81     82     82
82     83     83
83     84     84
84     85     85
85     86     86
86     87     87
87     88     88
88     89     89
89     90     90
90     91     91
91     92     92
92     93     93
93     94     94
94     95     95
95     96     96
96     97     97
97     98     98
98     99     99

In [7]:
massaTrain = dataTrain['massa']
hargaTrain = dataTrain['harga']
massaTest = dataTest['massa']
hargaTest = dataTest['harga']

## Linear Regression

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit((np.array(massaTrain.tolist())).reshape(-1,1), hargaTrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
# model.predict((np.array(massaTest.tolist())))
model.predict((np.array(massaTest.tolist())).reshape(-1,1))

array([82., 83., 84., 85., 86., 87., 88., 89., 90., 91., 92., 93., 94.,
       95., 96., 97., 98., 99.])

## Splitting data dengan SKLEARN: train_test_split

In [51]:
from sklearn.model_selection import train_test_split
a, b, c, d = train_test_split(df[['massa']], df['harga']) #train_size = 0.8 -> mengatur banyak train size, random_state = 10 -> statis

In [68]:
# xtr = np.array(a.to_list()) #massa A 75% -> train
# xtr

In [55]:
# xts = np.array(b.to_list()) #massa B 25% -> test
# xts

In [56]:
# ytr = np.array(c.to_list()) #harga C 75% -> train
# ytr

In [57]:
# yts = np.array(d.to_list()) #harga D 25% -> test
# yts

In [58]:
model = LinearRegression()
model.fit(a, c)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
model.predict(b)

array([100.,  65.,  82.,  36.,  16.,  80.,  22.,  67.,   8.,  64.,  94.,
        90.,   5.,  93.,  15.,  76.,  42.,  32.,  60.,  29.,  37.,  52.,
        53.,  98.,  46.])

In [66]:
model.score(b,d)

1.0